@use "./partials/mixins" as *;
@import "@fontsource/paytone-one";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 75%;
    margin: 0 auto;
    @include responsive ('md') {
        width: 95%;
    }
}

body {
    font-family: 'Paytone One', sans-serif;
}

a:hover {
        filter: brightness(80%);
}