@mixin flex($direction: row, $justify-content: center, $align-items: center, $wrap: nowrap) {
    display: flex;
        justify-content: $justify-content;
        align-items: $align-items;
        flex-direction: $direction;
        flex-wrap: $wrap;
 }

 @mixin responsive($screensize) {
    @if $screensize == "sm" {
        @media screen and (max-width: 480px) {
            @content;
        }
    } @else if $screensize == "md" {
        @media screen and (max-width: 736px) {
            @content;
        }
    } @else if $screensize == "lg" {
        @media screen and (max-width: 1280px) {
            @content;
        }
    } @else if $screensize == "xlg" {
        @media screen and (max-width: 1690px) {
            @content;
        }
    }
}